body {
	background-color:#588DDA;
	background-repeat: no-repeat;
}
h1 {
	color:rgba(0,0,0,0.7);
}

p {
	text-indent: 20px;
	text-transform: capitalize;
	font-family: 'Handlee', cursive;
}

/** styling links **/
a:visited {
	color:red;
}
a:hover {
	background-color:violet;
}
a:active {
	background-color: green;
}
ul li {
	display:inline;
	text-decoration: none;
}

#dimension {
	width:200px;
	height:200px;
	background-color: blue;
	padding:20px;
	margin:20px;
	border:4px solid black;
	position:relative;
	top:20px;
	left:10px;
}

img {
	width:200px;
	height:200px;
	float:left;
}
