body {
	background-color:#588DDA;
	background-repeat: no-repeat;
}
h1 {
	color:rgba(0,0,0,0.7);
}

p {
	text-indent: 20px;
	text-transform: capitalize;
	font-family: 'Handlee', cursive;
}

/** styling links **/
a:visited {
	color:red;
}
a:hover {
	background-color:violet;
}
a:active {
	background-color: green;
}
ul li {
	display:inline;
	text-decoration: none;
}